* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}
.slim-nav {
  border-bottom: 1px solid #ebe9ec;
}

.search-input {
  border-radius: 20px;
  width: 240px;
  height: 40px;
  padding-left: 50px;
  padding-right: 20px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}

.search-input::placeholder {
  color: #706e72;
}

.search-button {
  position: absolute;
  left: 0;
  top: 0;
}

.slim-nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slim-nav-menu > *:nth-child(1) {
  margin-right: 32px;
}
.slim-nav-menu > *:nth-child(3) {
  margin-right: 32px;
}
.slim-nav-menu > *:nth-child(2) {
  margin-right: 16px;
}

.slim-nav-link {
  color: #706e72;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.slim-nav-link svg {
  margin-right: 8px;
}
.main-btn {
  background-color: #bb1a8e;
  border-radius: 1386px;
  padding: 4px 12px 6px;
  border: 1px solid #bb1a8e;
  color: #fff1ff;
  font-size: 14px;
}

.main-btn:hover {
  background-color: #fff;
  color: #bb1a8e;
  border: 1px solid #bb1a8e;
}

.famale-about-text {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3e3d41;
}
