.card-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size: 18px;
}
.card-category {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #999;
  width: 100%;
  margin: 0 0 10px 0;
  font-size: 14px;
}

.card-price {
  font-size: 14px;
}
.ratio .card-img-top {
  object-fit: cover;
}
.card {
  cursor: pointer;
}
