@import "./init.scss";

@import "../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";
@import "../../node_modules/bootstrap/dist/css/bootstrap-utilities.min.css";

$accentColor: #008080;

body {
  background-color: #f0f0f0;
}

header {
  background-color: white;
  box-shadow: 0 0 10px rgba(#000, 0.1);
  .header-top {
    padding: 15px 0;
  }
  .brand {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .search-btn {
    width: 30px;
    height: 30px;
    background-color: rgba(#f0f0f0, 0.5);
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
  }
  .header-bottom {
    background-color: $accentColor;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    li a {
      display: block;
      padding: 15px 20px;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
  margin-bottom: 30px;
}

.card {
  position: relative;
  box-shadow: 0 0 5px rgba(#000, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;

  &-img {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    object-fit: cover;
    opacity: 0.5;
    transition: 0.5s all;
    &:hover {
      opacity: 1;
    }
  }

  &-body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: linear-gradient(180deg, transparent, rgba(#000, 0.8));
    color: #fff;
    line-height: 30px;
    max-height: 58px;
    overflow: hidden;
    transition: 0.5s all;
  }
  &:hover &-body {
    max-height: 130px;
  }
}
.chat-container {
  width: 100%;
  height: 50vh;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  form {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    & > * {
      display: block;

      height: 80px;
    }
  }
  textarea {
    width: 80%;
    resize: none;
  }
  button {
    width: 20%;
  }
  .wrapper {
    max-height: calc(100% - 80px);
    overflow-y: auto;
  }
  .chat-item {
    border-bottom: 1px dashed #f0f0f0;
    padding-bottom: 10px;
    margin-bottom: 10px;
    .createdAt {
      font-size: 8px;
      color: rgba($color: #000000, $alpha: 0.5);
    }
  }
}
