body {
  margin: 0;
  background: #f0f0f0;
}
.card-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  margin: 0 0 10px 0;
  font-weight: bold;
  font-size: 18px;
}
.cart-category {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  margin: 0 0 10px 0;
  font-size: 14px;
  color: #999;
}
.card-price {
  font-size: 14px;
}
.ratio .card-img-top {
  object-fit: cover;
}
